{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="login-box">
    <h2>Register</h2>
    <form method="POST">
        <div class="form-group">
            <label for="dict.USER_CREDENTIALS[username1]">New Username</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div class="form-group">
            <label for="dict.USER_CREDENTIALS[password]">New Password</label>
            <input type="text" name="Password" id="Password" required>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{% endblock %}